/* colori di sfondo */
._bg-green{
    background-color: #1ABC9C;
}
._bg-dark{
    background-color: #2C3E50;
}
/* pagina */
header{
    min-height: 90px;
}
#start{
    margin-top: 90px;
}
#start img{
    max-width: 250px;
}
.fa-star{
    font-size: 2rem;
}
.bar{
    width: 80px;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
    font-weight: 500;
}
h2{
    font-weight: 600;
}
._wrapper{
    width: 60%;
    margin: 0 auto;
}