/* colori di sfondo */
._bg-green{
    background-color: #1ABC9C;
}
._bg-dark{
    background-color: #2C3E50;
}
._bg-lightdark{
    background-color: #3A546D;
}
/* pagina */
/* general */
.fa-star{
    font-size: 2rem;
}
.bar{
    width: 80px;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
    font-weight: 500;
}
h2{
    font-weight: 600;
    text-transform: uppercase;
}
/* header */
header{
    min-height: 90px;
}
/* prima sezione */
#start img{
    max-width: 250px;
}
/* seconda sezione */
.img-wrapper{
    position: relative;
}
._plus-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 188, 156, 0.7);
    cursor: pointer;
    display: none;
}
._plus-hover i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}
.img-wrapper:hover ._plus-hover{
    display: block;
}
._plus-hover i:hover{
    font-size: 80px;
}
/* terza sezione */
._wrapper{
    width: 60%;
    margin: 0 auto;
}
/* quarta sezione */
#_inputname, #_inputemail, #_inputphone, #_inputtext{
    border-style: hidden;
    border-bottom-style:solid;
}
label{
    font-size: 1.2em;
    font-weight: 500;
}
/* footer */
._social{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    line-height: 50px;
    font-size: 20px;
}
._start-boot{
    color: #1ABC9C;
}